.sidenav {
    background-color:#fafafa;; 
    height: 100%; 
    width: 245px; 
    position: fixed; 
    z-index: 1; 
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 23px; /* Place content 60px from the top */
    transition: 0.5s;
    border: 1px solid rgb(217, 214, 214);
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: left;    
}

.side-navbar-link {
    padding: 8px 8px 8px 23px;
    text-decoration: none;
    font-size: 25px;
    color: #343131;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    padding-right: 50px;
    text-align: left;
    margin: 18px;    
}

.side-form-search {
    padding: 8px 8px 8px 23px;
    text-decoration: none;
    font-size: 25px;
    color: #343131;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    padding-right: 50px;
    text-align: left;
    margin: 18px;
}

.user-icon {
    padding: 8px 8px 8px 18px;
}
.sidenav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}

.sidenav a:hover svg {
    scale: 1.2;
}

.settings:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}

.settings:hover svg {
    scale: 1.2;
}

.more-button {
    height: 35px;
    width: 35px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}
.settings{
    cursor: pointer;
}

.fa-instagram {
    margin-bottom: 25px;
}

.side-nav-labels {
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 700;
    font-size: 16px;
    line-height: 1px;
    margin: -6px 0 -6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}

.logo-side-nav {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 27px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.side-nav-home {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 16px;
    padding-top: 6px;
}

.side-nav-search {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 16px;
    padding-top: 6px;
}

.side-nav-create {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 16px;
    padding-top: 6px;
}

.side-nav-notifications {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 16px;
    padding-top: 6px;
}

.side-nav-profile {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 2px;
    padding-top: 13px;  
}

.side-nav-more {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    direction: ltr;
    padding-left: 16px;
    padding-top: 6px; 
}

.home {
    fill: white;
}

.profile-nav-bar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icons-for-links {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    padding: 8px 61px 7px 41px;
    color: #343131;
}

.icons-for-links a:hover{
    background-color: #fafafa;
}

.linkedin-icon {
    color: #343131;
    margin-bottom: 15px;
}

.github-icon {
    color: #343131;   
}

.follows {
    color: #4e4e4e70;
}