.post-index-item-image{
    width: 470px;
    height: 547px;
    object-fit: cover;
}

.post-index {
    padding-left: 416px;
}

.item-bottom-line {
    width: 470px;
    margin: 20px 0 20px;
    border-top: 1px solid ;
    color: rgba(239, 239, 239);
    border-bottom: none;
    margin-bottom: 76px;
}

.item-top-line {
    width: 470px;
    /* color: rgb(224, 219, 219); */
    margin: 20px 0 20px;
    border-top: 1px solid ;
    color: rgba(219, 219, 219);
    border-bottom: none;
}

.post-index-item-caption-container {
    width: 470px;
    /* color: rgb(224, 219, 219); */
    margin: 20px 0 20px;  
    display: flex;
    direction: ltr;
}
.post-caption-username {
    font-weight: 600;
    margin-right: 5px;
    color: rgba(38, 38, 38);
    /* display: inline; */
    /* margin: 0; */
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /* display: inline!important;
    margin: 0!important; */
    cursor: pointer;
    text-align: inherit;
    pointer-events: auto;
    
}

.post-icons-container {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin: 15px 0 20px;
    flex-direction: row;
    font-size: 22px;
}

.post-icons-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
}


.post-index-item-user-info-username {
    font-weight: 600;
    color: rgba(38, 38, 38); 
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /* cursor: pointer; */
    text-align: inherit;
    pointer-events: auto;
    margin-bottom: 10px;
}

.post-caption-title {
    color: rgba(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    pointer-events: auto;
    direction: ltr;
    line-height: 1rem;
}


.post-index-item-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
}

.post-index-item-user-info {
    display: flex;
    flex-direction: row;
}

.post-index-item-user-info-username {
    font-weight: 600;
    /* margin-right: 5px; */
    color: rgba(38, 38, 38); 
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /* cursor: pointer; */
    text-align: inherit;
    pointer-events: auto;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    margin-left: 10px;

}

.user-post-username {
    /* padding: 8px 8px 8px 18px; */
    margin-bottom: 10px;
    font-size: 32px;
    
}

.post-index-item-dots-container {
    display: flex;
    align-items: end;
    margin-bottom: 25px;
    flex-direction: column;
}

.user-show-profile-link {
    color: black;
}

.comment-container {
    border: none;
    
}

.view-comments {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400px;
    color: rgb(142, 142, 142);
    line-height: 14px;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
}

.heart-icon {
    font-size: 25px;
}

.post-button {
    border: none;
    background-color: #fafafa;;
    color: #b3dbff;
    font-size: 15px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.post-button:hover {
    color:#1877F2
}

.comment-container-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 470px;
}

.create-comment-input {
    border: none;
    padding-top: 15px;
    background-color: #fafafa;
    width: 20vw;

}

.create-comment-input:focus {
    outline: none;
}



.unliked svg{
    color: black;
    fill: black;
    cursor: pointer;
}

.liked svg{
    color: red;
    fill: red;
    cursor: pointer;
}

.post-create-form-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.post-create-modal-content {
    width: 580px;
    background-color: #fafafa;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    pointer-events: all;
    overflow-y: visible;
    font-weight: 400;
    color: rgb(38, 38, 38);
    text-align: center;
    font-size: 20;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-left: 100px;
}

.modal-close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 99%;
    font-size: 20px;
}

.create-pots-container {
    width: 53%;
    border: 1px solid transparent;
    outline: 0;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    line-height: 21px;
    padding: 7px 10px;
    border-radius: 6px;
    margin-left: 3px;
    margin-top: 6px;
    margin-left: 70px;
}

.create-pots-container:hover {
   color: #1877F2;;
   
}

.fa-solid {
    cursor: pointer;
}

.post-count-likes-comments {
    /* display: inline-block; */
    box-sizing: border-box;
    position: relative;
    color:rgb(38, 38, 38);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.likes-count {
    padding-right: 10px;
}

.post-dropdown {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* align-content: flex-end; */
}

.update-buttom-post {
    background-color: #fafafa;
    color: #9ccffc; 
    font-size: 12px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.delete-buttom-post {
    background-color: #fafafa;
    color: #9ccffc;
    font-size: 12px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.update-buttom-post:hover {
    color: #1877F2;
 
}

.delete-buttom-post:hover {
    color: #1877F2;
 
}

/* .user-post-profile-pic img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
} */

.user-show-profile-link img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.x-modal-close-button{
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: -40px;
    z-index: 1;
    /* margin-right: 400px; */
}

.x-modal-close-button{
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid var(--btn-bg);
    border-radius: 6px;
    box-shadow: rgba(41, 128, 214, 0.04) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 5px ;
    width: 53%;
    margin-left: 23%;
    color: var(--btn-bg);
}

.post-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 120px;
}

._ab6- {
    margin-left: 92px;
    margin-top: 15px;
}

.title-post {
    margin-top: 13px;
}

.title-container-create-post {
    min-height: 26px;
}

.file-container {
    margin-top: 10px;
    margin-left: 70px;
}


.cancel-button-title {
    margin-left: 10px;
}

.comment-post-input {
    border: none;
    padding-top: -4px;
    background-color: #fafafa;
    width: 27vw;
}

.update-post-button {
    background-color: #fafafa;
    color: #9ccffc;
    font-size: 13px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.update-post-button:hover {
    color: #1877F2;;
}
