.post-index-item-image{
    width: 470px;
    height: 547px;
    object-fit: cover;
}

.post-index {
    padding-left: 432px;
}

.item-bottom-line {
    width: 470px;
    /* color: rgb(224, 219, 219); */
    margin: 20px 0 20px;
    border-top: 1px solid ;
    color: rgba(239, 239, 239);
    border-bottom: none;
    margin-bottom: 76px;
}

.item-top-line {
    width: 470px;
    /* color: rgb(224, 219, 219); */
    margin: 20px 0 20px;
    border-top: 1px solid ;
    color: rgba(219, 219, 219);
    border-bottom: none;
}

.post-index-item-caption-container {
    width: 470px;
    /* color: rgb(224, 219, 219); */
    margin: 20px 0 20px;  
    display: flex;
    direction: ltr;
}
.post-caption-username {
    font-weight: 600;
    margin-right: 5px;
    color: rgba(38, 38, 38);
    /* display: inline; */
    /* margin: 0; */
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /* display: inline!important;
    margin: 0!important; */
    cursor: pointer;
    text-align: inherit;
    pointer-events: auto;
    
}

.post-icons-container {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin: 15px 0 20px;
    flex-direction: row;
    font-size: 22px;
}

.post-icons-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
}


.post-index-item-user-info-username {
    font-weight: 600;
    color: rgba(38, 38, 38); 
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-align: inherit;
    pointer-events: auto;
    margin-bottom: 10px;
}

.post-caption-title {
    color: rgba(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    pointer-events: auto;
    direction: ltr;
    line-height: 1rem;
}


.post-index-item-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
}

.post-index-item-user-info {
    display: flex;
    flex-direction: row;
}

.post-index-item-user-info-username {
    font-weight: 600;
    /* margin-right: 5px; */
    color: rgba(38, 38, 38); 
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-align: inherit;
    pointer-events: auto;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    margin-left: 10px;

}

.user-post-username {
    /* padding: 8px 8px 8px 18px; */
    margin-bottom: 10px;
    font-size: 32px;
    
}

.post-index-item-dots-container {
    display: flex;
    align-items: end;
    margin-bottom: 25px;
}

.user-show-profile-link {
    color: black;
}

.comment-container {
    border: none;
}

.view-comments {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400px;
    color: rgb(142, 142, 142);
    line-height: 14px;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.heart-icon {
    font-size: 25px;
}

.post-button {
    border: none;
    background-color: #fafafa;;
    color: #b3dbff;
    font-size: 15px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.comment-container-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 470px;
}

.delete-comment {
    border:none;
    padding-top: 15px;
}