.button-container-update-delete {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    padding-left: 125px;
    justify-content: space-evenly;
    padding-left: 132px;
}

.delete-botton {
    border: none;
    background-color: #fafafa;;
    color: #b3dbff;
    font-size: 13px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    padding-right: 13px;
    margin-left: 19px;
}

.update-button {
    border: none;
    background-color: #fafafa;;
    color: #b3dbff;
    font-size: 13px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
}

.update-button:hover {
    color: #1877F2;

}

.delete-botton:hover {
    color: #1877F2;
}

.post-index-item-comment {
    padding-top: 15px;
}

.post-index-item-comment-username {
    display: inline-block; 
    box-sizing: border-box;
    position: relative;
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    pointer-events: auto;
}


.post-index-item-comment-body {
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    pointer-events: auto;
}

.comment-info-container {
    display: flex;
    flex-direction: row;
}

.post-index-item-comment-username {
    padding-right: 10px;
}

div.comment-line {
    display: inline-flex;
}

.update-comment-button {
    border: none;
    background-color: #fafafa;;
    color: #b3dbff;
    font-size: 13px;
    box-sizing: border-box;
    width: auto;
    font-weight: 600px;
    height: auto;
    border-top-left-radius: 2px;
    text-overflow: ellipsis;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    padding-right: 13px;
    margin-left: 34px;
}

.update-comment-button:hover {
    color: #1877F2;
}

.comment-update-input{
    background-color: #fafafa;
}

.comment-update-input:focus {
    outline: none;
}