

/* .user-show-header {
  display: flex;
  flex-direction: row;
  max-width: 937px;
  min-height: 232px;
} */


/* .cg-profile {
    width: 100%;
    height: 100%;
} */

/* .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 65px;
} */

/* .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 35px;
    color: rgb(38, 38, 38);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;

} */

/* .third-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
} */


/* .user-username {
    line-height: 25px;
    font-weight: 400;
    color: rgb(38, 38, 38);
    overflow-x: visible;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    white-space: pre-line;
    word-break: break-word;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
} */

/* .follow-profile-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    background-color: var(--btn-bg);
    border-radius: 4px;
    padding: 8px 19px;
} */

/* .edit-profile-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(38, 38, 38);
    text-align: center;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    background-color: #EBEDF0;
    border-radius: 4px;
    padding: 8px 19px;
} */

/* .settings-profile-button {
    font-size: 25px;






.user-profile-pic img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-top: 10px;
}

.user-show-photos-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 302px));
    grid-gap: 20px;
    align-items: stretch;  
}

.user-show-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 374px;
}


.user-show-photos-container-item-img {
    width: 293px;
    height: 293px;
    object-fit: cover;
}

.user-show-body {
    border-top: 1px solid var(--box-border-color);
    padding-top: 30px;
    margin-top: 30px;
    max-width: 947px;
}

.user-show-header {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 50px;
}

.user-info-rows-container {
    display: grid;
    margin-left: 60px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
}

.first-row {
    display: flex;
    padding-bottom: 15px;
}

.first-row > div {
    margin-right: 50px;
}

.second-row {
    display: flex;
}

.third-row {
    display: flex;
    flex-direction: column;
}

.user-username {
    line-height: 25px;
    font-weight: 400;
    color: rgb(38, 38, 38);
    overflow-x: visible;
    font-size: 20px;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    white-space: pre-line;
    word-break: break-word;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.user-name {
    line-height: 25px;
    font-weight: 600;
    color: rgb(38, 38, 38);
    overflow-x: visible;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    white-space: pre-line;
    word-break: break-word;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 20px ;
}

.edit-follow-button-user {
    padding-top: 12px;
}

.fa-solid {
    padding-top: 20px;
    font-size: 20px ;
}

.numbers-second-row {
    line-height: 25px;
    font-weight: 700;
    color: rgb(38, 38, 38);
    overflow-x: visible;
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    padding-right: 3px;
    margin-top: 5px;
}

.user-bio {
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.names-second-row {
    margin-top: 5px;
    padding-right: 40px;
    font-weight: 400;
    color: rgb(38, 38, 38);
    font-size: 16px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.edit-profile-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(38, 38, 38);
    text-align: center;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    background-color: #EBEDF0;
    border-radius: 4px;
    padding: 8px 19px;
}

.edit-profile-button:hover {
    background-color:  #ccccccc2;
    border-radius: 4px;
}

.settings-profile-button {
    padding-top: 15px;
    font-size: 25px ;
}

.follow-button-usershow{
    cursor: pointer;
}