.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.main-content {
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 935px;
    flex-grow: 1;
}

.form-container {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.slide-container {
    background-image: url("../../../assets/devices.png");
    height: 618px;
    flex-basis: 463px; 
    background-size: cover;
    width: 300px;
}

.slide-content {
    margin: 25px 0 0 156px;
    position: relative;
}

.slide-content img {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.slide-content img.active {
    opacity: 1;
    visibility: visible;
}

.goto {
    padding: 10px;
    margin-bottom: 10px;
}

.goto p {
    font-size: 14px;
    font: arial;
    margin: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.goto a {
    text-decoration: none;
    color: var(--btn-bg);
    font-size: inherit;
    line-height: 18px;
    font-weight: 600;
    position: relative;
}

.box {
    border: 1px solid var(--box-border-color);
    background-color: var(--box-bg);
    border-radius: 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .slide-container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        margin-top: 0;
    }

    .box {
        border: 0;
        background-color: transparent;
    }
}

.links {
    font-size: 50px;
    text-align: center;
    padding-left: 500px;
}

.linkedin {
    color: var(--btn-bg);
    padding-right: 10px;
}

.github {
    color: var(--btn-bg);
}