.box {
    border: 1px solid var(--box-border-color);
    background-color: var(--box-bg);
    border-radius: 3px;
    background-color: blue(0, 149,246);
    font-weight: bold;
}

.form-container-2 {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    margin-bottom: 10px;
    padding: 10px;
    height: 470px;;
}

.form-content .logo {
    text-align: center;
    height: 51px;
    width: 175px;
    margin: 22px auto 12px;
}

.logo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.signin-form {
    padding-top: 24px;
    margin-bottom: 10px;
}

.form-group {
    margin: 0 40px 6px;
}

.animate-input {
    height: 36px;
    border-radius: 3px;
    position: relative;
}
/* .container {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

    /* position: absolute; */
    /* left: 8px; */
    /* height: 100%; */
    /* font-size: 12px; */
    /* line-height: 36px; */
    /* color: var(--txt-second-color); */
    /* transform-origin: left; */




.animate-input input {
    width: 100%;
    height: 100%;
    /* padding: 9px 8px 7px; */
    padding-left: 5px;
    border: 1px solid grey;
    outline: 0;
    background-color: var(--box-bg);
    color: var(--txt-color);
}

.animate-input.active span {
    transform: scale(0.83333) translateY(-10px);
}

.animate-input.active input {
    padding: 14px 0 2px 8px;
}

.animate-input button {
    color: var(--txt-color);
    border: 0;
    outline: 0;
    display: inline;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.animate-input.active button {
    display: inline;
}

.button-group {
    padding: 8px 40px;    
}

.button-login {
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 9px;
    border-radius: 4px;
    margin-left: 1px;
}

button:disabled {
    background-color: rgba(0, 149, 246, 0.3);
}

.demoButton:disabled {
    background-color: rgba(0, 149, 246, 0.3);
}

.divide {
    padding: 10px 40px 18px;
    display: flex;
}

.divide div:nth-child(2) {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    color: var(--txt-second-color);
}

.divide div:nth-child(1),
.divide div:nth-child(3) {
    flex-grow: 1;
    height: 1px;
    background-color: var(--box-border-color);
    position: relative;
    top: 0.45em;

}

.error-ul {
    padding-left: 70px;;
}

.forgot-and-demo-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.forgot-pw {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    color: var(--a-color);
    text-decoration: none;

}

.demoButton {
    width: 75%;
    border: 1px solid var(--btn-bg);
    outline: 0;
    background-color: var(--btn-color); 
    color: var(--btn-bg);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 9px;
    border-radius: 4px;

    margin-left: 43px;
    margin-top: 40px;
    margin-right: 100px;

}

.download {
    display: flex;
    flex-direction: column;
}

.download p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 10px 20px;
}