.signup-container {
    max-width: 350px;
    height: 500px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.signup-form-content {
    margin-bottom: 10px;
    padding: 30px;
    height: 623px;
    margin-top: 50px
}

.signup-form {
    /* padding-top: 24px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
    /* height: 37px; */
}

/* .signup-form, input { */
.sign-up-form-input {
    /* margin: 3px; */
    background: rgb(var(--ig-secondary-background));
    border-radius: 3px;
    margin: 10px 1px 5px 1px;
    min-height: 37px;

}

.logo p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(142, 142, 142);

    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 25px 4px 10px;
    text-align: center;
}

.signup {
    width: 100%;
    outline: 0;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
    font-weight: 200;
    font-size: 14px;
    line-height: 10px;
    padding: 9px 9px;
    border-radius: 9px;
    padding-left: 5px;
    border: 1px solid grey;
    margin-top: 10px;
}

.signup {
    padding: 8px 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divide {
    padding: 15px 0px 11px ;
}
